{% extends 'base.html' %}

{% block styles -%}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles -%}

{% block scripts -%}

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
  ga('create', 'UA-G-XLLSPB0NFN', 'auto');
  ga('send', 'pageview');
  </script>
  <!-- End Google Analytics -->

{% script 'app' %}
{% endblock scripts -%}

{% block content %}
<article>
  <header class="container">
    <h1 class="headline">{{ meta.headline }}</h1>
    {% for obj in toplines %}
      <p class="prose">Just from <a href='https://www.tiktok.com/@jongraz/'>scrolling posts about Noodle the Pug on TikTok</a>, it's impossible to understand the historical frequency of his "bones days" and "no bones days". So, we're <a href="https://docs.google.com/spreadsheets/d/1YBfXgpmIJplAJjcMmSv7i6lPzyCOfb1QVB4XpCOfBGs/edit?usp=sharing">counting them</a>! To date, the 13-year-old pooch has had <span class='bones-copy'>{{ obj.bones }} bones days</span> — and  <span class='no-bones-copy'>{{ obj.nobones }} no bones days</span>. The odds are like a coin flip. This page will update with Noodle's posts.</p>
    {% endfor %}
  </header>
  
  <div class="container">
    <iframe title="What kind of day for Noodle?" aria-label="Stacked Bars" id="datawrapper-chart-u6bWk" src="https://datawrapper.dwcdn.net/u6bWk/4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="238"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
    </script>
    
    <table class="table">
      <p class='charthead'>All the bones days</p>
        <thead>
            <tr>
                <th>Date</th>
                <th>Result</th>
                <th>Weekday</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in bonesdays %}
            <tr>
                <td>{{ obj.display_date }}</td>
                <td class='{{ obj.bones_class }}'><a href="{{ obj.url }}">{{ obj.bones_nobones }}</a></td>
                <td>{{ obj.weekday }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class='container'>
    <p class='charthead'>About</p>
    {% for p in meta.methodology %}
        <p class="prose">{{ p.copy }}</p>
    {% endfor %}
  </div>
</article>

{{ toplines|jsonScript('toplines') }}
{{ bonesdays|jsonScript('bonesdays') }}

{% endblock content %}
