{% extends 'base.html' %}

{% block styles -%}
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles -%}

{% block scripts -%}
{% script 'app' %}
{% endblock scripts -%}

{% block content %}
<article>
  <header class="container">
    <h1 class="headline">{{ meta.headline }}</h1>
    <h2 class="subhead">{{ meta.subhead }}</h2>
    <!-- <div class="attribution">
        {% set comma = joiner() %}
        <p class="byline">
          By {%- for author in meta.byline -%}
          {% if not loop.last %}{{ comma() }}{% elif not loop.first %} and{% endif %} <span class="author" itemscope itemtype="http://schema.org/Person"><a itemprop="url" href="{{ author.url }}">{{ author.name }}</a></span>
          {%- endfor -%}
        </p>
    </div> -->
  </header>
  <div class="container">
    {% for p in copy.body %}
        <!-- <p class="prose">{{ p.value }}</p> -->
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Result</th>
                <th>Weekday</th>
            </tr>
        </thead>
        <tbody>
        {% for obj in bonesdays %}
            <tr>
                <td>{{ obj.display_date }}</td>
                <td><a href="{{ obj.url }}">{{ obj.bones_nobones }}</a></td>
                <td>{{ obj.weekday }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</article>

{{ bonesdays|jsonScript('bonesdays') }}

{% endblock content %}
