@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Narrow:wght@400;700&display=swap');

$font-family-headline: 'PT Sans Narrow', sans-serif;
$font-family-body: Georgia, serif;
$font-family-table: 'PT Sans', sans-serif;

$font-weight-headline: 900;
$font-weight-body: 400;

