// RESET
// Smooths out the rough edges across browsers
@use './tools/normalize';

// VARIABLES
// Reusable settings
@use './variables/colors';
@use './variables/fonts';

// YOUR CODE
// Starting writing your stuff below here
.container {
    max-width: 630px;
    margin: 30px auto;
    line-height: 1.4;
    @media (max-width: 767px) {
        padding: 0 15px;
    }
}

h1 {
    font-family: fonts.$font-family-headline;
    font-weight: fonts.$font-weight-headline;
    font-size: 60px;
    line-height: 60px;
}
h2 {
    font-family: fonts.$font-family-headline;
    font-weight: fonts.$font-weight-headline;
    font-size: 36px;
    font-style: italic;
    line-height: 36px;
}

p {
    font-family: fonts.$font-family-body;
    font-weight: fonts.$font-weight-body;
    &.byline {
        font-size: 16px;
        font-weight: bold;
    }
    &.prose {
        margin: 18px 0;
        font-size: 18px;
        color: #555;
    }
}

.table {
    font-family: fonts.$font-family-table;
    border-collapse: collapse;
    width: 100%;
    caption {
        text-align: left;
        font-weight: bold;
        font-size: 18px;
    }
    td, th {
        border: .5px solid #ddd;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #e9e9e9;
    }
    // tr:hover {
    //     background-color: #ddd;
    // }
    th {
      text-align: left;
      background-color: white;
      color: black;
    }
}
